@import "tailwindcss";

@layer utilities {
  @keyframes scan {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(100%); }
  }
}

@theme {
  --animate-scan: scan 2s linear infinite;
}

#reader__scan_region {
  border: none !important;
}

#reader__scan_region video {
  border-radius: 1.5rem;
}
